body {
  background-color: rgba(191, 250, 191, 0.685);
  font-family: Verdana, Tahoma, sans-serif;
  color: rgb(58, 57, 57);
}
button {
  background-color: white;
  outline: none;
  border: none;
}
.navBarBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: none;
  justify-self: stretch;
  min-height: 40px;
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-right: 25px;
}
.menuBtn {
  font-size: 15px;
  width: 130px;
}
.menuBtn:hover {
  background-color: olivedrab;
  color: white;
}
.homeTitle {
  margin: auto;
  width: 50%;
  padding: 20px 100px 100px 100px;
}
.optionsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.promptBox {
  background-color: white;
  padding: 10px 10px 10px 10px;
  width: 1000px;
}
.promptBtn {
  background-color: olivedrab;
  color: white;
  width: 150px;
  height: 40px;
  padding: 10px 10px 10px 10px;
}
.listenBtnsBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.listenBtns {
  background-color: olivedrab;
  color: white;
  width: 80px;
  height: 40px;
}
.listenBtns:hover {
  background-color: rgb(187, 214, 133);
  color: rgb(0, 0, 0);
}
.wordsBox {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
}
.words {
  width: 1000px;
  margin: 50px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  padding: 1rem 2rem 1rem 5rem;
  background-size: 100% 3rem;
  position: relative;
  line-height: 3rem;
}
p {
  margin: 0 0 3rem;
}
.words:before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}
.speechControlBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.resetAndSaveBox {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.listeningSpan {
  font-size: 20px;
  background-color: white;
  padding: 5px 15px 5px 15px;
}
.resetAndSaveBtn {
  background-color: olivedrab;
  color: white;
  width: 200px;
}
.resetAndSaveBtn:hover {
  background-color: rgb(187, 214, 133);
  color: rgb(0, 0, 0);
}
.goalInput {
  width: 200px;
}
.thoughtListBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.thoughtList {
  background-color: white;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timeBtn {
  border: none;
  outline: none;
  background-color: white;
}
/* background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px; */